# Ignore  every file
*
input/*
output/*

# whitelist project files
!main.py
!README.md
!install_requires
!database.py
!window.py
!setup.py
!core.py
!mp3_info.py
!music_info.py
!input/
!input/PUT_YOUR_MP3_FILES_HERE
!output/
!planing/*
!output/THE_DATABASE_WILL_BE_PUT_HERE
!classes/__init__.py
!classes/database.py
!classes/