# Ignore  every file
*
input/*
output/*

# whitelist project files
!main.py
!README.md
!setup.py
!planing/*
!input/
!input/PUT_YOUR_MP3_FILES_HERE
!output/
!output/THE_DATABASE_WILL_BE_PUT_HERE
!classes/
!classes/__init__.py
!classes/database.py
!classes/database.py
!classes/window.py
!classes/core.py
