# Ignore  every file
*

# whitelisting project files
!python_mp3/config.py
!python_mp3/window.py
!python_mp3/core.py
!python_mp3/database.py
!python_mp3/log.py
!python_mp3/__init__.py
!README.md
!LICENSE
!start.sh
!setup.py
!planing/*
!.editorconfig
!Makefile
# Will be removed when proper implementation of Settings
!input/PUT_YOUR_MP3_FILES_HERE
!input/Beat Thee.mp3
!.github/
